@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,500;1,600&display=swap');


*{
    margin:0%;
}
.nava1{
    background-color: black;    
    height: 5rem;
    width:100%;
    display:flex;
  /* border: solid 5px rgb(175, 5, 5); */
    justify-content: center;
    /* align-items: center; */
}
.Tit{
    font-family: 'Rethink Sans', sans-serif;
    align-items: center;
    padding-top: 1.5rem;
    color: rgb(255, 255, 255);
}
.he1 {
    display: flex;
    /* width:5rem; */
    justify-content: right;
    gap:20px;
    align-items:end; 
}
.leftr{
    color: black;
    justify-content: left;
    display: flex;
    cursor: 'pointer';
}
.in1 input{
    margin-top: 40px;
    border-radius: 5px; 
    border:1px solid grey;
    width:40rem;
    height: 80px; 
    justify-content: left;
    align-items: left;
}
.in1{
    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.in2 button{
width: 60px;
height: 40px;
color: rgb(255, 255, 255);
background-color: rgb(185, 0, 0);
margin-top: 50px;
border-radius: 50px;
text-align: center;
}
.bud1 p{
    font-family:'Rethink Sans', sans-serif ;
    font-size: 28px;
    margin-top: 40px;
    font-weight: 600;
    align-items: center;
}
.bud1 p1{
    font-family:'Rethink Sans', sans-serif ;
    font-size: 18px;
    font-weight: 400;
    align-items: center;
}
.bud2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}
.bud2 input{
    margin-top: 40px;
    border: 1px solid rgb(133, 131, 131);
    border-radius: 5px;
    width:500px;
    height: 40px; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: left;
    align-items: left;
}

/* .logo1{
    height: 2rem;
    width: 2rem; 
    padding: 60px;
} */
/* .logo2{
    height: 2rem;
    width: 2rem; 
    align-content: end;
} */
/* .right1{
    display: flex;
    align-items: right;
    padding-right:60px;
   
} */
.edge1{
    background-color: rgb(192, 0, 0);
    height: 3px;
    width:100%;
}
.edge2{
    background-color: rgb(192, 0, 0);
    height: 3px;
    width:100%;
}
footer{
    background-color: black;
    height:240px;
    width: 100%;
    margin-top: 40px;
}